Importing Libraries

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
## loading the dataset to a Pandas DataFrame
NSE_Dataset = pd.read_csv('/content/Equity Data (1 Jan 2020).csv')

In [ ]:
NSE_Dataset

,DATE1,SYMBOL,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,TURNOVER_LACS,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,11-02-2022,NETFLTGILT,22.40,22.02,22.48,22.02,22.25,22.27,22.25,16697,3.72,83,12968.0,77.67
1,11-02-2022,NETFMID150,116.02,119.50,119.50,113.61,114.10,113.95,114.68,224822,257.82,1780,200777.0,89.30
2,11-02-2022,NETFNIF100,183.49,178.50,184.98,178.50,182.05,182.22,182.07,2354,4.29,135,2140.0,90.91
3,11-02-2022,NETFDIVOPP,45.63,46.25,46.25,45.07,45.33,45.09,45.40,1239,0.56,86,1122.0,90.56
4,11-02-2022,NETFGILT5Y,49.66,49.66,49.82,49.47,49.82,49.79,49.72,82821,41.18,322,74512.0,89.97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
809334,01-01-2020,ORTINLABSS,9.90,10.15,10.15,9.80,9.85,9.80,9.84,5041,0.50,26,4283.0,84.96
809335,01-01-2020,ORISSAMINE,1281.50,1270.00,1288.00,1259.35,1264.00,1265.60,1268.53,8230,104.40,626,4091.0,49.71
809336,01-01-2020,OSWALAGRO,4.95,5.15,5.40,5.00,5.20,5.30,5.18,27820,1.44,143,17849.0,64.16
809337,01-01-2020,PAISALO,433.00,429.95,438.00,427.45,429.95,428.85,432.68,37838,163.72,505,8873.0,23.45
809338,01-01-2020,PAGEIND,23393.10,23350.00,23799.00,23241.10,23600.00,23602.15,23601.26,16716,3945.19,6464,2964.0,17.73

In [ ]:
# display unique date values
NSE_Dataset[' DATE1'].unique()

array(['11-02-2022', '10-02-2022', '09-02-2022', '08-02-2022',
       '07-02-2022', '04-02-2022', '03-02-2022', '02-02-2022',
       '01-02-2022', '31-01-2022', '28-01-2022', '27-01-2022',
       '25-01-2022', '24-01-2022', '21-01-2022', '20-01-2022',
       '19-01-2022', '18-01-2022', '17-01-2022', '14-01-2022',
       '13-01-2022', '12-01-2022', '11-01-2022', '10-01-2022',
       '07-01-2022', '06-01-2022', '05-01-2022', '04-01-2022',
       '03-01-2022', '31-12-2021', '30-12-2021', '29-12-2021',
       '28-12-2021', '27-12-2021', '24-12-2021', '23-12-2021',
       '22-12-2021', '21-12-2021', '20-12-2021', '17-12-2021',
       '16-12-2021', '15-12-2021', '14-12-2021', '13-12-2021',
       '10-12-2021', '09-12-2021', '08-12-2021', '07-12-2021',
       '06-12-2021', '03-12-2021', '02-12-2021', '01-12-2021',
       '30-11-2021', '29-11-2021', '26-11-2021', '25-11-2021',
       '24-11-2021', '23-11-2021', '22-11-2021', '18-11-2021',
       '17-11-2021', '16-11-2021', '15-11-2021', '12-11-2021',
       '11-11-2021', '10-11-2021', '09-11-2021', '08-11-2021',
       '03-11-2021', '02-11-2021', '01-11-2021', '29-10-2021',
       '28-10-2021', '27-10-2021', '26-10-2021', '25-10-2021',
       '22-10-2021', '21-10-2021', '20-10-2021', '19-10-2021',
       '18-10-2021', '14-10-2021', '13-10-2021', '12-10-2021',
       '11-10-2021', '08-10-2021', '07-10-2021', '06-10-2021',
       '05-10-2021', '04-10-2021', '01-10-2021', '30-09-2021',
       '29-09-2021', '28-09-2021', '27-09-2021', '24-09-2021',
       '23-09-2021', '22-09-2021', '21-09-2021', '20-09-2021',
       '17-09-2021', '16-09-2021', '15-09-2021', '14-09-2021',
       '13-09-2021', '09-09-2021', '08-09-2021', '07-09-2021',
       '06-09-2021', '03-09-2021', '02-09-2021', '01-09-2021',
       '31-08-2021', '30-08-2021', '27-08-2021', '26-08-2021',
       '25-08-2021', '24-08-2021', '23-08-2021', '20-08-2021',
       '18-08-2021', '17-08-2021', '16-08-2021', '13-08-2021',
       '12-08-2021', '11-08-2021', '10-08-2021', '09-08-2021',
       '06-08-2021', '05-08-2021', '04-08-2021', '03-08-2021',
       '02-08-2021', '30-07-2021', '29-07-2021', '28-07-2021',
       '27-07-2021', '26-07-2021', '23-07-2021', '22-07-2021',
       '20-07-2021', '19-07-2021', '16-07-2021', '15-07-2021',
       '14-07-2021', '13-07-2021', '12-07-2021', '09-07-2021',
       '08-07-2021', '07-07-2021', '06-07-2021', '05-07-2021',
       '02-07-2021', '01-07-2021', '30-06-2021', '29-06-2021',
       '28-06-2021', '25-06-2021', '24-06-2021', '23-06-2021',
       '22-06-2021', '21-06-2021', '18-06-2021', '17-06-2021',
       '16-06-2021', '15-06-2021', '14-06-2021', '11-06-2021',
       '10-06-2021', '09-06-2021', '08-06-2021', '07-06-2021',
       '04-06-2021', '03-06-2021', '02-06-2021', '01-06-2021',
       '31-05-2021', '28-05-2021', '27-05-2021', '26-05-2021',
       '25-05-2021', '24-05-2021', '21-05-2021', '20-05-2021',
       '19-05-2021', '18-05-2021', '17-05-2021', '14-05-2021',
       '12-05-2021', '11-05-2021', '10-05-2021', '07-05-2021',
       '06-05-2021', '05-05-2021', '04-05-2021', '03-05-2021',
       '30-04-2021', '29-04-2021', '28-04-2021', '27-04-2021',
       '26-04-2021', '23-04-2021', '22-04-2021', '20-04-2021',
       '19-04-2021', '16-04-2021', '15-04-2021', '13-04-2021',
       '12-04-2021', '09-04-2021', '08-04-2021', '07-04-2021',
       '06-04-2021', '05-04-2021', '01-04-2021', '31-03-2021',
       '30-03-2021', '26-03-2021', '25-03-2021', '24-03-2021',
       '23-03-2021', '22-03-2021', '19-03-2021', '18-03-2021',
       '17-03-2021', '16-03-2021', '15-03-2021', '12-03-2021',
       '10-03-2021', '09-03-2021', '08-03-2021', '05-03-2021',
       '04-03-2021', '03-03-2021', '02-03-2021', '01-03-2021',
       '26-02-2021', '25-02-2021', '24-02-2021', '23-02-2021',
       '22-02-2021', '19-02-2021', '18-02-2021', '17-02-2021',
       '16-02-2021', '15-02-2021', '12-02-2021', '11-02-2021',
       '10-02-2021', '09-02-2021', '08-02-2021', '05-02-2021',
       '04-02-2021', '03-02-2021', '02-02-2021', '01-02-2021',
       '29-01-2021', '28-01-2021', '27-01-2021', '25-01-2021',
       '22-01-2021', '21-01-2021', '20-01-2021', '19-01-2021',
       '18-01-2021', '15-01-2021', '14-01-2021', '13-01-2021',
       '12-01-2021', '11-01-2021', '08-01-2021', '07-01-2021',
       '06-01-2021', '05-01-2021', '04-01-2021', '01-01-2021',
       '31-12-2020', '30-12-2020', '29-12-2020', '28-12-2020',
       '24-12-2020', '23-12-2020', '22-12-2020', '21-12-2020',
       '18-12-2020', '17-12-2020', '16-12-2020', '15-12-2020',
       '14-12-2020', '11-12-2020', '10-12-2020', '09-12-2020',
       '08-12-2020', '07-12-2020', '04-12-2020', '03-12-2020',
       '02-12-2020', '01-12-2020', '27-11-2020', '26-11-2020',
       '25-11-2020', '24-11-2020', '23-11-2020', '20-11-2020',
       '19-11-2020', '18-11-2020', '17-11-2020', '14-11-2020',
       '13-11-2020', '12-11-2020', '11-11-2020', '10-11-2020',
       '09-11-2020', '06-11-2020', '05-11-2020', '04-11-2020',
       '03-11-2020', '02-11-2020', '30-10-2020', '29-10-2020',
       '28-10-2020', '27-10-2020', '26-10-2020', '23-10-2020',
       '22-10-2020', '21-10-2020', '20-10-2020', '19-10-2020',
       '16-10-2020', '15-10-2020', '14-10-2020', '13-10-2020',
       '12-10-2020', '09-10-2020', '08-10-2020', '07-10-2020',
       '06-10-2020', '05-10-2020', '01-10-2020', '30-09-2020',
       '29-09-2020', '25-09-2020', '24-09-2020', '23-09-2020',
       '22-09-2020', '21-09-2020', '18-09-2020', '17-09-2020',
       '16-09-2020', '15-09-2020', '14-09-2020', '11-09-2020',
       '10-09-2020', '09-09-2020', '08-09-2020', '07-09-2020',
       '04-09-2020', '03-09-2020', '02-09-2020', '01-09-2020',
       '31-08-2020', '28-08-2020', '27-08-2020', '26-08-2020',
       '25-08-2020', '24-08-2020', '21-08-2020', '20-08-2020',
       '19-08-2020', '18-08-2020', '17-08-2020', '14-08-2020',
       '13-08-2020', '12-08-2020', '11-08-2020', '10-08-2020',
       '07-08-2020', '06-08-2020', '05-08-2020', '04-08-2020',
       '03-08-2020', '31-07-2020', '30-07-2020', '29-07-2020',
       '28-07-2020', '27-07-2020', '24-07-2020', '23-07-2020',
       '22-07-2020', '21-07-2020', '20-07-2020', '17-07-2020',
       '16-07-2020', '15-07-2020', '14-07-2020', '13-07-2020',
       '10-07-2020', '09-07-2020', '08-07-2020', '07-07-2020',
       '06-07-2020', '03-07-2020', '02-07-2020', '01-07-2020',
       '30-06-2020', '29-06-2020', '26-06-2020', '25-06-2020',
       '24-06-2020', '23-06-2020', '22-06-2020', '19-06-2020',
       '18-06-2020', '17-06-2020', '16-06-2020', '15-06-2020',
       '12-06-2020', '11-06-2020', '10-06-2020', '09-06-2020',
       '08-06-2020', '05-06-2020', '04-06-2020', '03-06-2020',
       '02-06-2020', '01-06-2020', '29-05-2020', '28-05-2020',
       '27-05-2020', '26-05-2020', '22-05-2020', '21-05-2020',
       '20-05-2020', '19-05-2020', '18-05-2020', '15-05-2020',
       '14-05-2020', '13-05-2020', '12-05-2020', '11-05-2020',
       '08-05-2020', '07-05-2020', '06-05-2020', '05-05-2020',
       '04-05-2020', '30-04-2020', '29-04-2020', '28-04-2020',
       '27-04-2020', '24-04-2020', '23-04-2020', '22-04-2020',
       '21-04-2020', '20-04-2020', '17-04-2020', '16-04-2020',
       '15-04-2020', '09-04-2020', '08-04-2020', '07-04-2020',
       '03-04-2020', '01-04-2020', '31-03-2020', '30-03-2020',
       '27-03-2020', '26-03-2020', '25-03-2020', '24-03-2020',
       '23-03-2020', '20-03-2020', '19-03-2020', '18-03-2020',
       '17-03-2020', '16-03-2020', '13-03-2020', '12-03-2020',
       '11-03-2020', '09-03-2020', '06-03-2020', '05-03-2020',
       '04-03-2020', '03-03-2020', '02-03-2020', '28-02-2020',
       '27-02-2020', '26-02-2020', '25-02-2020', '24-02-2020',
       '20-02-2020', '19-02-2020', '18-02-2020', '17-02-2020',
       '14-02-2020', '13-02-2020', '12-02-2020', '11-02-2020',
       '10-02-2020', '07-02-2020', '06-02-2020', '05-02-2020',
       '04-02-2020', '03-02-2020', '01-02-2020', '31-01-2020',
       '30-01-2020', '29-01-2020', '28-01-2020', '27-01-2020',
       '24-01-2020', '23-01-2020', '22-01-2020', '21-01-2020',
       '20-01-2020', '17-01-2020', '16-01-2020', '15-01-2020',
       '14-01-2020', '13-01-2020', '10-01-2020', '09-01-2020',
       '08-01-2020', '07-01-2020', '06-01-2020', '03-01-2020',
       '02-01-2020', '01-01-2020'], dtype=object)

In [ ]:
NSE_Dataset = pd.read_csv('/content/Equity Data (1 Jan 2020).csv.zip')
print(NSE_Dataset.columns)
NSE_Dataset=NSE_Dataset.drop([" OPEN_PRICE"," HIGH_PRICE"," LOW_PRICE"," LAST_PRICE"," AVG_PRICE"," TTL_TRD_QNTY"," TURNOVER_LACS"," NO_OF_TRADES"," DELIV_QTY"," DELIV_PER"], axis=1)
NSE_Dataset["change"]=(((NSE_Dataset[" CLOSE_PRICE"]-NSE_Dataset[" PREV_CLOSE"])/NSE_Dataset[" PREV_CLOSE"])*100)

Index([' DATE1', 'SYMBOL', ' PREV_CLOSE', ' OPEN_PRICE', ' HIGH_PRICE',
       ' LOW_PRICE', ' LAST_PRICE', ' CLOSE_PRICE', ' AVG_PRICE',
       ' TTL_TRD_QNTY', ' TURNOVER_LACS', ' NO_OF_TRADES', ' DELIV_QTY',
       ' DELIV_PER'],
      dtype='object')

In [ ]:
NSE_Dataset[' DATE1'] = pd.to_datetime(NSE_Dataset[' DATE1'], dayfirst=True)
NSE_Dataset['month'] = pd.DatetimeIndex(NSE_Dataset[' DATE1']).month
NSE_Dataset['year'] = pd.DatetimeIndex(NSE_Dataset[' DATE1']).year
NSE_Dataset=NSE_Dataset.sort_values(by=["SYMBOL","month","year"])

In [ ]:
NSE_Dataset.columns

Index([' DATE1', 'SYMBOL', ' PREV_CLOSE', ' CLOSE_PRICE', 'change', 'month',
       'year'],
      dtype='object')

In [ ]:
!pip install pandasql

In [ ]:
### The query groups the stock based on particular month of the year and calculate monthly percentage change in the stock.
### hich is 
from pandasql import sqldf
q="select SYMBOL,month,year,avg(change) as change from df group by symbol,year,month order by SYMBOL"
newdf=sqldf(q, globals())
newdf

          SYMBOL  month  year    change
0      20MICRONS      1  2020  0.000304
1      20MICRONS      2  2020 -0.534678
2      20MICRONS      3  2020 -0.751252
3      20MICRONS      4  2020  1.027580
4      20MICRONS      5  2020 -0.536147
...          ...    ...   ...       ...
41650  ZYDUSWELL     10  2021 -0.693857
41651  ZYDUSWELL     11  2021 -0.266966
41652  ZYDUSWELL     12  2021 -0.160813
41653  ZYDUSWELL      1  2022 -0.398216
41654  ZYDUSWELL      2  2022 -1.635702

[41655 rows x 4 columns]

In [ ]:
newdf=newdf.sort_values(by=["year","month","change"])
newdf

           SYMBOL  month  year     change
11947     GAYAHWS      1  2020  -9.090909
27993   PARSVNATH      1  2020  -6.666667
27104  OILCOUNTUB      1  2020  -5.263158
1072     AGROPHOS      1  2020  -5.157383
4821          BCP      1  2020  -4.761905
...           ...    ...   ...        ...
32857       SELMC      2  2022   4.984945
38845   UGARSUGAR      2  2022   5.077231
40824  WEIZMANIND      2  2022   5.387560
24026    MHLXMIRU      2  2022   8.218743
3775          AWL      2  2022  13.815473

[41655 rows x 4 columns]

# Monthly Top performing stocks

In [ ]:
q1="select symbol,month,year,max(change) from newdf group by year,month"
sqldf(q1, globals())

        SYMBOL  month  year  max(change)
0      INTEGRA      1  2020    16.666667
1         UVSL      2  2020    10.000000
2    KSERASERA      3  2020    13.157895
3       PRADIP      4  2020    11.397547
4      SEPOWER      5  2020     9.393939
5   CASTEXTECH      6  2020    10.207071
6      ROSSARI      7  2020    10.147587
7         CCCL      8  2020    14.093915
8        ROUTE      9  2020    16.056921
9   CASTEXTECH     10  2020     8.232680
10       GLAND     11  2020     6.218003
11  BECTORFOOD     12  2020    18.463369
12    KARMAENG      1  2021     7.457785
13     RAILTEL      2  2021    29.095745
14      NAZARA      3  2021    18.350047
15    BLUECHIP      4  2021    18.988095
16     VIJIFIN      5  2021     8.118022
17   VINEETLAB      6  2021    19.958438
18       TATVA      7  2021    55.790726
19  KHAITANLTD      8  2021     4.817891
20  ABMINTLLTD      9  2021     8.736550
21     GAYAHWS     10  2021     6.350414
22    GOCOLORS     11  2021    81.695652
23     SUPRIYA     12  2021    16.514317
24      HIRECT      1  2022    18.708995
25         AWL      2  2022    13.815473

# Monthly worst performing stocks

In [ ]:
q2="select symbol,month,year,min(change) from newdf group by year,month"
sqldf(q2, globals())

        SYMBOL  month  year  min(change)
0      GAYAHWS      1  2020    -9.090909
1    BIRLATYRE      2  2020    -8.343363
2        EBANK      3  2020   -41.240420
3        IRCON      4  2020    -4.302631
4   SURYALAXMI      5  2020    -7.196245
5     INDOTHAI      6  2020    -4.882846
6    XPROINDIA      7  2020    -8.500000
7    EICHERMOT      8  2020    -4.195377
8   VIKASMCORP      9  2020    -4.776977
9      SHRENIK     10  2020    -5.088548
10     INTEGRA     11  2020    -4.241325
11     MAJESCO     12  2020    -3.231288
12        IRFC      1  2021    -4.615385
13    UNIVASTU      2  2021    -6.501548
14  KALYANKJIL      3  2021    -7.743078
15    SUVIDHAA      4  2021    -6.437946
16  VIVIMEDLAB      5  2021    -4.946518
17       BASML      6  2021    -8.743211
18  ORCHPHARMA      7  2021    -4.997313
19      SAGCEM      8  2021    -3.512445
20  GANGAFORGE      9  2021    -4.022442
21    ICICI500     10  2021    -4.445929
22     SIGACHI     11  2021   -11.437171
23   CINEVISTA     12  2021    -4.976303
24      AGSTRA      1  2022    -7.971429
25      AAKASH      2  2022   -12.456280